* {
    margin: 0;
    padding: 0;
}

.posts {
    display: flex;
    flex-direction: column;
    margin: 20px auto auto auto;
    max-width: 600px;
    border: 1px solid black;
    border-radius: 5px;
}

.post {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.post-header {
    display: flex;
}

.post-avatar {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

.post-avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.post-title {

}

.post-name {

}

.post-time {

}

.post-image {

}

.post-img {
    width: 100%;
    max-height: 330px;
}

.comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
}

.comments-title {
    margin-bottom: 10px;
}

.comments-list {
    display: flex;
    flex-direction: column;
}

.comment {
    display: flex;
    margin-bottom: 20px;
}

.comment-avatar {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 50%;
    align-self: flex-start;
}

.comment-avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-header{
    display: flex;
    justify-content: space-between;
}

.comment-name {

}

.comment-time {
    display: flex;
    font-size: small;
}

.comment-text {

}

.more {
    margin-top: 10px;
    color: inherit;
    align-self: center;
}

.none {
    display: none;
}
